<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\Rnwood.Smtp4dev.exe" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess" />
    </system.webServer>
  </location>
  <system.webServer>
    <applicationInitialization doAppInitAfterRestart="true">
      <clear />
    </applicationInitialization>
  </system.webServer>
</configuration>
<!--ProjectGuid: A279AAA4-DDC8-4FB9-BB78-5DD662ED9AE2-->